<%= form_with(model: item, class: "flex flex-col") do |form| %>
        <div>
            <%= form.text_field :title, placeholder: "Title", class: "border-2 rounded-lg w-full" %>
            <% item.errors.full_messages_for(:title).each do |message| %>
                <div><%= message %></div>
            <% end %>
        </div>

        <div class="pt-2">
            <%= form.textarea :body, placeholder: "Description", class: "border-2 rounded-lg w-full h-32" %>
            <% item.errors.full_messages_for(:body).each do |message| %>
                <div><%= message %></div>
            <% end %>
        </div>

        <div class="rounded-full border-2 p-2 bg-red-800 text-white text-center">
            <%= form.submit %>
        </div>
<% end %>