<div id="index" class="">
    <%= render "shared/header" %>

    <section class="my-12 flex flex-row-reverse">
        <%= link_to "+ Add Post", new_article_path, class:"bg-red-800 text-white py-2 px-4 border-solid rounded-full" %>
    </section>

    <section>
        <ul>
            <% @articles.each do |article| %>
                <li class="m-4 flex">
                    <p class="text-neutral-600 basis-1/4"> <%= (article.created_at.strftime("%B %d, %Y")) %> </p>
                    <%= link_to article, class:"basis-3/4" do %>
                        <h3 class="text-xl hover:bg-slate-200 text-red-800 font-semibold">
                            <%= article.title.capitalize() %>
                        </h3>
                    <% end %>
                </li>
                <hr>
            <% end %>
        </ul>
    </section>

    <section>
        <div class="mt-10 flex flex-row justify-around">
            <%= link_to "See more posts...", articles_path,
            class: "bg-red-800 text-white py-2 px-4 border-solid rounded-full text-center" %>
        </div>
    </section>

</div>
